@keyframes rotate {
    from {
        rotate: 0deg;
    }
    
    50% {
        scale: 1 1.5;
        rotate: 360deg;
    }
    to {
        rotate: -0deg;
    }
  }
  
  #blob {
    background-color: white;
    height: 34vmax;
    aspect-ratio: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    background: linear-gradient(to right, pink, purple);
    animation: rotate 10s infinite;
    opacity: 0.8;
    filter: blur(2000px);
  }