@import url(menu.css);
@import url(panel.css);
@import url(vars.css);
body {
    background-color: #111;
}
.ten-vh-spacer {
  height: 10vh;
}
#hero-title {
  transform: translateY(-100%);
}
h1 {
  font-size: 30pt;
}
h2 {
  font-size: 20pt;
}
#name {
  backdrop-filter: var(--blur);
  padding: 1rem;
  border-radius: 10px;
  padding-right: 2.2rem;
}