@import url(/css/main.css);
#header {
    background-color: var(--section-bg);
    max-height: 5rem;
    height: -moz-fit-content;
    height: fit-content;
    backdrop-filter: blur(10px);
    width: 100%;
    left: 0px;
    top: 0px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#first {
    float: left;

}
li {
    display: inline;
    float: right;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    text-decoration: underline;
    text-decoration-color: var(--accent);
}
#logo {
    font-size: 30pt;
    font-family: monospace;
    font-weight: 900;
    text-decoration: none;
}
@media screen and (max-width: 800px) {
  li {float: left;}
}
